html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", "Fira Sans", system-ui, sans-serif;
    background-color: #1d2021;
    color: #ebdbb2;
    font-size: 16px;
}

h1 {
    color: #fb4934;
}

h2 {
    color: #fe8019;
}

h3 {
    color: #fabd2f;
}

table, tr, th, td {
    text-align: left;
    /*border: 1px solid #ebdbb2;*/
    border-collapse: collapse;
    /*padding: 8px;*/
}

.login {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #282828;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mover {
    animation: mover 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    opacity: 0;
    display: flex;
}

@keyframes mover {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(-1000px);
    }
}


header {
    background-color: #458588;
    box-sizing: border-box;
    padding: 8px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

header span {
    font-size: 24px;
    color: #ebdbb2;
}

header span #nombreUsuario {
    font-weight: bold;
}

header a {
    height: 32px;
    width: 32px;
    background-image: url("../img/logo.png");
    background-size: cover;
}


.contenedor {
    height: calc(100% - 54px);
    width: 100%;
    display: flex;
}

aside {
    box-sizing: border-box;
    background-color: #282828;
    width: 200px;
    margin: 0;
    padding: 8px;
}

aside button {
    cursor: pointer;
    color: #fabd2f;
    box-sizing: border-box;
    border: 0;
    background-color: #282828;
    display: block;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
    text-align: left;
    font-size: 16px;
}

aside button.activa {
    background-color: #fabd2f;
    color: #282828;
}

aside button:hover {
    background-color: #fabd2f;
    color: #282828;
}

aside button.activa:hover {
    outline: 2px solid #fabd2f;
    background-color: #282828;
    color: #fabd2f;
}

main {
    flex-grow: 1;
    padding: 8px;
}

section {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

section.activa {
    height: 100%;
}

section .listaProyectos, section .listaUsuarios {

}

section .detallesProyecto, section .detallesUsuario {
    position: absolute;
    top: 0;
    right: -800px;
    width: 600px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    height: 100%;
    background-color: #282828;
    border: 2px solid #ebdbb2;
    padding: 0 8px;
}

section .detallesProyecto.activo, section .detallesUsuario.activo {
    right: 0;
}

.cabeceraDetallesProyecto, .cabeceraDetallesUsuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
}

.trProyecto {
    background-color: #282828;
    margin: 4px;
    border-radius: 8px;

}


.trProyecto td {
    padding: 8px 12px;
}

.formUsuario{
    position: absolute;
    left: calc(50% - 300px);
    top: 2000px;
    width: 600px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    height: 80%;
    background-color: #282828;
    border: 2px solid #ebdbb2;
    padding: 0 8px;

}

.formUsuario.activo{
    top: calc(50% - 40%);
}